* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: arial, san-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

nav {
    background: #ddd;
    padding: .8em;
    margin-bottom: 3em;
}

nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #0099cc;
}

input {
    margin-bottom: 1.4em;
    width: 100%;
    display:block;
    padding: .6em;
    font-size: 1em;
    border: 1px solid #ddd;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
}

input:focus {
    box-shadow: 0 0 3px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input:invalid {
    border-color: red;
    box-shadow: 0 0 3px red;
    border: 1px solid red;
}

label span{
    display:block;
    margin-bottom: .4em;
}

.checkbox span {
    float: left;
}

.checkbox input[type="checkbox"] {
    display: inline-block;
    width: inherit;
}

/* Button */

.btn {
    text-transform:uppercase;
    padding: .8em;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    font-size: 1em;
    background: #0099cc;
    border: 0;
}

/* Grid */

.wrapper {
    width: 90%;
    max-width: 764px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.row:after, .cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: ' ';
     clear: both;
     height: 0;
 }

.quarter, .third, .half, .two-thirds, .three-fourths {
    float: left;
    padding-right: 1em;
    box-sizing: border-box;
}

.quarter {
    width: 25%;
}

.third: {
    width: 33%;
}

.half {
    width: 50%;
}

.two-thirds {
    width: 66%;
}

.three-fourths {
    width: 75%;
}

.full {
    width: 100%
}

body .last {
    padding-right: 0;
}

/* Progress*/
.progressbar-container, .progressbar{
    display: block;
    height: .7em;
    background: #eee;
    overflow: hidden;
    position: relative;
}

.progressbar {
    position: absolute;
    background: #50B948;
    height: .7em;
    width: 0;
}
/* Responsive */

@media screen and (max-width: 25em) {
    body .mobile-half {
        width: 50%;
    }

    body .mobile-full {
        width: 100%;
    }

    body .mobile-last {
        padding-right: 0;
    }
}

/* Helper Classes */
body .mt {
    margin-top: .8em;
}

body .hidden {
    display: none;
}

body .fr {
    float: right;
}

body .fl {
    float: left;
}

body .bold {
    font-weight: bold;
}
